<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var productList = [
                '그릴드 치킨 샐러드',
                '스테이크 샐러드',
                '훈제 연어 샐러드',
                '리코타치즈 샐러드',
                '진격의 샐러드',
                '계절과일 샐러드',
                '라이스오믈렛',
                '가든오믈렛',
                '칠리미트오믈렛',
                '플레인오믈렛'
            ];
            
            $( "#inputProduct" ).autocomplete({
                source: productList
            });
            
            $('#addProduct').on('click', function(){
                if(inputProduct.value && inputUser.value){
                    socket.emit('reserve', {
                        productName : inputProduct.value,
                        userName : inputUser.value
                    });
                }else{
                    alert("빈칸을 채워 주세요.");
                }
            });

            var selectedProductName = "";
            var selectedProductNumber = "";
            $('body').delegate('.product', 'click', function(){
                selectedProductName = $(this).find('.productname').html();
                selectedProductNumber = $(this).find('.productnumber').html() - 1;
            });

            $('#delteModal').on('show.bs.modal', function (e) {
                $('#modalLabel').html(selectedProductName);
            });

            $('#deleteBtn').on('click', function(){
                socket.emit('delete', {
                    number : selectedProductNumber
                });
            });

            function drawList(){
                //Ajax 수행
                $.getJSON('/reserved', { dummy: new Date().getTime() }, function (data) {
                    var count = 1;

                    // 좌석을 생성합니다.
                    $.each(data, function (index, element) {
                        // 문서 객체를 생성합니다.
                        var $product = $('<li></li>').append("<a href='#' data-toggle='modal' data-target='#delteModal'><h3>" + "<span class='productnumber'>" + count + "</span>"
                                + "<span class='productname'>" + element.productName + "</span>"
                                + "<span class='username'>" + element.userName + "</span>"
                                + "</h3></a>").addClass('product list-group-item');

                        // 문서 객체를 추가합니다.
                        $product.appendTo('#listview');

                        count = count + 1;
                    });
                });
            }

            // 소켓 이벤트를 수행합니다.
            var socket = io.connect('http://127.0.0.1:9001');
            socket.on('drawlist', function(){
                $('#listview').find('.product').remove();
                drawList();
            });
        })
    </script>
</head>
<body>
<div>
    <div>
        <h1>beLunch</h1>
    </div>
    <div>
        <div class="inputwrap">
            <input id="inputProduct" type="text" class="form-control" placeholder="Product" autofocus="">
            <input id="inputUser" type="text" class="form-control" placeholder="User" autofocus="">
        </div>
        <button id="addProduct" type="button" class="btn btn-default btn-block btn-lg">ADD</button>
        <ol id="listview" class="list-group" >
        <% reservedList.forEach(function (item, index) { %>
        <li class="product list-group-item">
            <a href="#" data-toggle="modal" data-target="#delteModal">
            <h3><span class="productnumber"><%= (index + 1) %></span><span class="productname"><%= item.productName %></span><span class="username"><%= item.userName %></span></h3>
            </a>
        </li>
        <% }); %>
        </ol>
        <div class="callWrap"><a href="tel:031-704-2013" id="callBtn">CALL</a></div>
    </div>
    <div class="modal fade" id="delteModal" tabindex="-1" role="dialog" aria-labelled="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"></h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>